.container {
    margin: 0 105px;
}

.title {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: bold;
    line-height: 80px;
    margin: 0 0 0 0;
}

/* ===Promo==== */

.promo {
    background: url(../img/layer-1.png), url(../img/promo-background.png) center center/cover no-repeat;
    min-height: 700px;
    padding-top: 38px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style-type: none;
}

.nav__item a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 11px 15px;
    transition: all .3s ease;
}

.nav__item a:hover {
    color: #fff;
    background-color: #d03958;
    border-radius: 6px;
}

/* ======Promo-content====== */

.promo__content {
    display: flex;
    justify-content: space-between;
    margin-top: 167px;
}

.promo__text {
    width: 50%;
}

.promo__title {
    color: #d03958;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 80px;
    margin-bottom: 40px;
    letter-spacing: -2px;
}

.promo__title span {
    color: #161616;
}

.promo__descr {
    width: 476px;
    font-size: 20px;
    font-family: "PTSerif";
    line-height: 28px;
    color: #161616;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    background-color: #d03958;
    border-radius: 5px;
    position: relative;
    bottom: -75px;
}

.form__title {
    font-family: "Montserrat";
    font-size: 22px;
    color: #fcf2f4;
    line-height: 1.2;
    margin-bottom: 36px;
    text-align: center;
}

.form__input {
    width: 332px;
    height: 56px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    font-family: "PTSerif";
    font-size: 20px;
    color: #b5b5b5;
    margin-bottom: 16px;
}

.form__input:nth-child(5) {
    margin-bottom: 27px;
}

.form__input:focus {
    outline: none;
}

.form__checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.form__checkbox+label {
    display: inline-flex;
    align-items: center;
    font-family: "PTSerif";
    font-size: 20px;
    color: #ffffff;
    line-height: 1.25;
    margin-bottom: 19px;
}

.form__checkbox+label::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #fff;
    border-radius: 6px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 23px;
}

.form__checkbox:checked+label::before {
    /* border-color: #d03958; */
    background-image: url("../img/icon-checked.png");
}

.form__btn {
    padding: 20px 135px;
    font-size: 22px;
    font-family: "Montserrat";
    color: #ffffff;
    line-height: 1.2;
    background-color: #161616;
    border-radius: 6px;
    transition: all .2s ease;
}

.form__btn:hover {
    box-shadow: 2px 2px 3px 0;
    cursor: pointer;
    opacity: 0.9;
}

/* ===our-services=========== */

.our-services__title {
    color: #d03958;
    margin: 15px 0 91px 0;
}

.our-services__title span {
    color: #161616;
}

.our-services__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px
}

.our-services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.our-services__img {
    margin-bottom: 44px;
}

.our-services__descr {
    font-size: 20px;
    line-height: 28px;
    color: #161616;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
}

/* ====our-story===== */

.our-story {
    background-color: #d03958;
}

.our-story__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-story__descr {
    width: 639px;
    height: 77px;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: "PT Serif";
}

.our-story__button {
    text-decoration: none;
    border-radius: 5px;
    background-color: #e3d5b8;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #161616;
    font-family: "Montserrat";
    text-align: center;
    padding: 18px 69px;
    transition: all .2s ease;
}

.our-story__button:hover {
    box-shadow: 2px 2px 3px 0;
    cursor: pointer;
    opacity: 0.9;
}

/* ====pricing==== */

.pricing {
    background-color: #e3d5b8;
    padding-top: 40px;
}

.pricing__title {
    text-align: center;
    padding-bottom: 40px;
}

.pricing__content {
    display: flex;
    justify-content: space-between;
}

.pricing__item {
    width: 318px;
    height: 389px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
    margin-right: 15px;
    position: relative;
}

.pricing__name {
    margin: 35px 0 12px 0;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #161616;
    font-family: "PT Serif";
    text-align: center;
}

.pricing__cost {
    margin: 0 0 0 0;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 80px;
    color: #d03958;
    font-weight: bold;
    font-family: "Montserrat";
}

.pricing__descr {
    margin: 0 0 53px 0;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #161616;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
}

.pricing__btn {
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #161616;
    font-family: "Montserrat";
    text-align: center;
    text-decoration: none;
    background-color: #e3d5b8;
    padding: 12px 60px;
    border-radius: 4px;
    transition: all .2s ease;
}

.pricing__btn:hover {
    color: #ffffff;
    background-color: #d03958;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 90px solid #b4a993;
    border-right: 90px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    /* border-radius: 5px; */
}

.triangle p {
    font-size: 16px;
    color: rgb(31, 31, 31);
    line-height: 1.75;
    position: absolute;
    top: -75px;
    left: 5px;
    margin: 0;
    -moz-transform: matrix(0.67739919539163, -0.73561561299552, 0.73561561299552, 0.67739919539163, 0, 0);
    -webkit-transform: matrix(0.67739919539163, -0.73561561299552, 0.73561561299552, 0.67739919539163, 0, 0);
    -ms-transform: matrix(0.67739919539163, -0.73561561299552, 0.73561561299552, 0.67739919539163, 0, 0);
}

/* =========reviews================ */

.reviews {
    padding: 120px 0px;
}

.reviews .container {
    display: flex;
    justify-content: space-between;
}

.testimonial {
    width: 53%;
}

.testimonial__title {
    text-align: center;
}

.gallery {
    width: 50%;
}

.testimonial__content {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.testimonial__item {
    position: relative;
    padding: 26px 70px 26px 26px;
    margin-bottom: 35px;
    width: 70%;
    height: 100px;
    transition: all .4s linear;
}

.testimonial__item:hover {
    background-color: #e3d5b8;
    border-radius: 5px;
}

.testimonial__descr {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #161616;
    font-family: "PT Serif";
    margin-bottom: 20px;
}

.testimonial__img {
    position: absolute;
    right: -60px;
    top: 15%;
}

.testimonial__img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 100% 10%;
    box-shadow: 0px -4px 8px 0px;
    color:#e3d5b8;
}

.testimonial__subtext {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    font-weight: 700;
    color: #d03958;
    font-family: "Montserrat";
}

.gallery {
    width: 42%;
}

.gallery__title {
    color: #d03958;
    text-align: center;
}

.gallery__content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 22px;
    justify-content: center;
}

.gallery__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 100% 10%;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px -4px 8px 0px;
    color: #e3d5b8;
}

.gallery__view-more-pictures {
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    text-decoration: none;
    color: #d03958;
    font-family: "Montserrat";
    display: block;
    text-align: center;
}

.gallery__view-more-pictures:hover {
    text-decoration: underline;
}

/* =======footer=============== */

.footer {
    background-color: #161616;
    min-height: 180px;       
}

.footer__content {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.footer__reserved {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #ffffff;
    font-family: "PT Serif";
}
.footer__reserved span {
    color:#d03958;
}